.gameContainer{
    text-align: center;
}

#gameBoard{
    border: 3px solid;
}



#scoreText {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 100px;
}

#resetBtn{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    width: 120px;
    height: 50px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    background-color: purple;
    color: white;
    text-transform: uppercase;
}